<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Utils.TestListener.TestListener"></listener>
        <listener class-name="Utils.ExtentReport.ExtentReport"></listener>
    </listeners>
    <test name="Prep">
        <classes>
            <class name="Tests.testing"></class>
        </classes>
    </test>
</suite>